html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
:root {
    --colorPrimario: #697565;
    --colorSecundario:#3C3D37;
    --colorNegro:#181C14;
    --colorTerciario:#ECDFCC;
    --colorBlanco:#FFFFFF;
    /* FUENTES  */
    --fuenteTitulo: "Montserrat", sans-serif;
    --fuenteTexto: 'Roboto', sans-serif;

    --separacion: 2rem;
}
/* Globales */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

body {
    font-family: var(--fuenteTexto);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--colorPrimario);
}

h1, 
h2, 
h3 {
    font-family: var(--fuenteTitulo);
    margin: 0 0 2rem 0;
}
h1 {
    font-size: 3.8rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}
h2 {
    font-size: 3.2rem;
}
@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}
h3 {
    font-size: 2.4rem;
}
@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
    }
}
a {
    text-decoration: none;
    color: #000;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}
.btn {
    background-color: orange;
    color: var(--colorSecundario);
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    text-align: center;
    border: none;
    width: 100%;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: rgb(181, 119, 4);
}
/* HEADER */
.site-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/headerfondo.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 15rem;
}

@media (min-width: 768px) { 
    .site-header{
        height: 20rem;
        background-position: 50% 90%;
    }
}
@media (min-width: 992px) {
    .site-header { 
        height: 30rem;
        background-position: 100% 90%;
    }
} 
.titulo-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    
.titulo-header h1 {
        color: var(--colorBlanco);

}
@media (min-width: 768px) { 
     .titulo-header h1 {
         margin-top: 5rem;
         }
    }
    .titulo-header span {
        color: orange;
    }
    

/* NAVEGACION */
.navegacion-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--colorPrimario) ;
    text-transform: uppercase;

}
@media (min-width: 768px) { 
    .navegacion-header {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1.5rem 0;
    }
}
.enlaceNav {
    color: var(--colorBlanco);
    font-weight: 500;
}
/* HERO  */

.hero {
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 20rem;
}
@media (min-width: 768px) { 
    .hero{
        height: 35rem;
        background-position: 50% 90%;
    }
}
@media (min-width: 1200px) { 
    .hero {
        height: 40rem;
    }
}

/* NOSOTROS */
.sobre-nosotros {
    background-image: linear-gradient(to bottom, transparent 50%, var(--colorPrimario) 50%), url(img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    
}

.sobre-nosotros-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 768px) { 
    .sobre-nosotros {
        background-image: linear-gradient( to right, transparent 50%, var(--colorPrimario) 50%, var(--colorPrimario) 100% ), url(img/nosotros.jpg);
        background-position: center;
        padding: 10rem 0;
        background-size: 100%;
    }
    
}
@media (min-width: 768px) { 
    .sobre-nosotros-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 5rem;
    }
}
.texto-nosotros {
    grid-row: 2 / 3;
    color: var(--colorBlanco);
    padding-left: 1rem;
    padding-right: 1rem;
    
}
@media (min-width: 768px) { 
    .texto-nosotros {
        grid-column: 2 / 3;
        
    }
}

/* SERVICIOS */
.listado-servicios{
    background-color: var(--colorPrimario);
}
@media (min-width: 768px) { 
    .listado-servicios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .servicio:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .servicio:nth-child(1) img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .servicio:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .servicio:nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .producto:nth-child(2) img,
    .producto:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;

    }

}
.servicio {
    background-color: var(--colorSecundario);
    margin-bottom: 2rem;   
}
@media (min-width: 768px) { 
    .servicio {
        margin-bottom: 0;
    }
}
.servicio:last-of-type {
    margin-bottom: 0;
}
.texto-servicios {
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}
.texto-servicios h3 {
    margin: 0;
}
.texto-servicios p {
    margin: 0 0 .5rem 0;
}
.texto-servicios .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/* FOOTER */

.footer {
    background-color: var(--colorPrimario);
    padding-top: 5rem;
}
.footer h3 {
    margin-bottom: .5rem;
    text-align: center;
    color: var(--colorBlanco);
}
@media (min-width: 768px) { 
    .footer h3 {
        text-align: left;
    }

    .grid-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.grid-footer > div {
    margin-bottom: 2rem;
    
}
@media (min-width: 768px) { 
    .grid-footer > div {
        margin-bottom: 0;
        padding-left: 4rem;
    }
}
.footer-menu a {
    display: block;
    text-align: center;
    color: var(--colorBlanco);
}
@media (min-width: 768px) { 
    .footer-menu a {
        text-align: left;
    }
}

.copyright {
    background-color: var(--colorSecundario);
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 0;
    padding: 1rem;
    text-align: center;
    color: var(--colorBlanco);
    
}
